
.center_block {
    text-align: justify;
    width: 80%;
    display: inline-block;
}

.edge_block {
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    display: inline-block;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #0287de);
}

.section-inline-block {
    display: flex;
    height: 100%;
}

.card-signin {
    margin-top: 10px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-body {
    padding: 1.5rem;
}

html, body {
    height: 100%;
}